:root {
  --header-color: #212121;
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --main-font: "Roboto", sans-serif;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link,
.header-logo {
  text-decoration: none;
}

/* -------------HEADER -----------------*/

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.header-link,
.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}

.header-logo:hover,
.header-logo:focus {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
/* -------------HERO -----------------*/

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* -------------ABOUT -----------------*/

.about-pre-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* -------------GALLERY -----------------*/

.gallery-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

/* -------------TEAM -----------------*/

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.team-item-tittle {
  font-weight: 500;
  font-size: 16px;
  line-height: 0.84;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.84;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* -------------CONTACTS -----------------*/

.contacts-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts-address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
